@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/inter.ttf') format('truetype');
}

*{
  font-family: 'Inter', sans-serif;
}
